body{
  margin: 0;
  padding: 0;
  background-color: #FFFAFA;
}
.pageTitle{
  text-align: center;
  color: #191970;
  font-size: 1.5rem;
}
.nav{
  /* border: 1px solid black; */
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  color:#FFF;
  position: fixed;
  bottom:0;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}
.navbutton{
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 25%;
  padding: 1%;
}
.navbutton:hover{
  background-color: rgb(87, 86, 86);
  cursor: pointer;
}
.navbutton i{
  font-size: 1.5rem;
  margin-right: 10px;
}
.navbutton h3{
  margin: 0;
}
#signoutButton{
  width: 10%;
  background-color: rgb(121, 21, 21);
}
#signoutButton:hover{
  background-color: rgb(167, 29, 29);
}
.switch{
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
}
.slider{
  background-color: rgb(84, 175, 84);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  content: "";
  transition: .4s;
}
input:checked + .slider:before {
  transform: translateX(24px);
}
.slider.round:before {
  border-radius: 50%;
}

#toggleTempSlider{
  width: 20%;
  text-align: center;
  margin-bottom: 20px;
  width:30%;
  float:left;
  color:#FFF;
  font-size: x-small;
}

.active{
  background-color: #ddd;
}
.hide{
  display: none;
}
.errorHighlight{
  border: 5px solid rgba(255, 99, 71, .8);
}